In [1]:
## Data 600 - Python Project
## Dotson

In [2]:
# A1
P = 10000
i = 0.0425
t = 30

In [3]:
# A2
A = P * (1 + i * t)

In [4]:
# A3
print(f"Amount repaid: ${A}")

Amount repaid: $22750.000000000004

In [5]:
# B1
employees = ["Beth", "Fred", "Drew", "Alex", "Emma", "Chad"]
years     = [15,     11,     8,      5,     4,      2]

print(employees)
print(years)

['Beth', 'Fred', 'Drew', 'Alex', 'Emma', 'Chad']
[15, 11, 8, 5, 4, 2]

In [6]:
# B2

employees.insert(1, "Gina")
years.insert(1, 12)

employees.insert(5, "Herb")
years.insert(5, 3)

employees.append("Iris")
years.append(0)

print(employees)
print(years)

['Beth', 'Gina', 'Fred', 'Drew', 'Alex', 'Herb', 'Emma', 'Chad', 'Iris']
[15, 12, 11, 8, 5, 3, 4, 2, 0]

In [7]:
# B3

fred_index = employees.index("Fred")
employees.pop(fred_index)
years.pop(fred_index)

print(employees)
print(years)

['Beth', 'Gina', 'Drew', 'Alex', 'Herb', 'Emma', 'Chad', 'Iris']
[15, 12, 8, 5, 3, 4, 2, 0]

In [8]:
# B4

emma_index = employees.index("Emma")
employees.pop(emma_index)
years.pop(emma_index)

employees.insert(3, "Emma")
years.insert(3, 6)

print(employees)
print(years)

['Beth', 'Gina', 'Drew', 'Emma', 'Alex', 'Herb', 'Chad', 'Iris']
[15, 12, 8, 6, 5, 3, 2, 0]

In [9]:
# C1

quantities = [84, 100, 126, 150, 186, 200, 216, 248]

In [10]:
# C2

for q in quantities:
    if q <= 100:
        cost = q * 100
    elif q <= 200:
        cost = 100 * 100 + (q - 100) * 90
    else:
        cost = 100 * 100 + 100 * 90 + (q - 200) * 80

    print(f"The cost for an order of {q} computer monitors is ${cost}.")

The cost for an order of 84 computer monitors is $8400.
The cost for an order of 100 computer monitors is $10000.
The cost for an order of 126 computer monitors is $12340.
The cost for an order of 150 computer monitors is $14500.
The cost for an order of 186 computer monitors is $17740.
The cost for an order of 200 computer monitors is $19000.
The cost for an order of 216 computer monitors is $20280.
The cost for an order of 248 computer monitors is $22840.